<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"/>
    <title>RkCoDiFy</title>
</head>
<body>
    <nav class="navbar">
        <div>
            <p class="logo"><a href="/" ><img src="logo.png" alt="LOGO" width="100px" height="100px" ></a></p>
        </div>
        <ul >
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>

        </ul>
        <div>
            <input type="search" name="" id="" class="searchbar" placeholder="search">
        </div>
    </nav>
    <h1 class="contacth">Thanks for Contacting Us !!!!</h1>
</body>
</html>