*{
    margin: 0;
    padding: 0;
}
.signupsection{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 92px;
}
.signupform{
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #1a4f52;
    text-align: center;
    font-size: 1.5rem;
    color: aliceblue;
    margin-right: 15px;
    border-radius: 6px;
    width: 466px;
    height: 350px;
    align-items: self-end;
}
.username,.signupemail,.signuptelephone,.signuppassword,.signupage{
    font-family: 'Quicksand', sans-serif;
    width: 250px;
    height: 26px;
    border-radius: 6px;
    margin: 10px 0px 0px 10px;
  }
  .submit1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1rem;
    color: aliceblue;
    background: black;
    border-style: none;
    cursor: pointer;
    width: 250px;
    height: 26px;
    border-radius: 6px;
    margin: 10px 0px 0px 10px;
}

.submit1:hover{
    font-size: 1.5rem;
    height: 40;
}